* {
padding:0;
margin:0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
        box-sizing: border-box;
    }

body {background:#E5E7E9;}

.menu_bar {
    display:none;
}

header {
    width: 100%;
}

header nav {
    background: #839192 ;
    z-index:1000;
    max-width: 1000px;
    width:95%;
    margin:20px auto;
}

header nav ul {
    list-style:none;
}

header nav ul li {
    display:inline-block;
    position: relative;
}

header nav ul li:hover {
    background: #011826 ;
}

header nav ul li a {
    color:#fff;
    display:block;
    text-decoration:none;
    padding: 15px;
}

header nav ul li a span {
    margin-right:10px;
}

header nav ul li:hover .children {
    display:block;
}

header nav ul li .children {
    display: none;
    background:#839192;
    position: absolute;
    width: 150%;
    z-index:1000;
}

header nav ul li .children li {
    display:block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .children li a {
    display: block;
}

header nav ul li .children li a span {
    float: right;
    position: relative;
    top:3px;
    margin-right:0;
    margin-left:10px;
}

header nav ul li .caret {
    position: relative;
    top:3px;
    margin-left:10px;
    margin-right:0px;
}

/*------------------Imagenes-----------------*/
    *{
    margin:0%; 
    padding: 0p%;
    }
    .contenedor{
        width: 98%;
        margin: 0 auto ;
    }
    img {
        width: 100%;
    }
    .columna{
        height: 30%;
    }
    .primera{
        float: left;
        width: 100%;
        height: 8%;
        margin: 1%;
    }
    .segunda{  /*Idiomas*/
        position: relative;
        width: 7%;
        height: 8%;
        float: right;
        margin-top: -16.5%;
        padding-left: 6%
    }

    .tercera{ /*Mapa contenedor*/
        float: left;
        position: absolute;
        margin-top: 5%;
        margin-left: 10%;
        height: 80%;
        width: 85%;
        padding-top: 1%; 
        padding-left: 1%; 
        z-index: -2;
    }
    #mapa{
        max-width: 100%;
        min-height: 10%;
        width: 90%;
        height: 85%;
        z-index: -2;
        background-repeat:no-repeat;
    }
    /*flechas*/
    #izquierda{
        position: relative;    
        margin-left: 42%;
        margin-top: -20%;
        width: 20%;
        height: 15%;
    }
    #arriba{
        position: relative;    
        margin-left: 40%;
        margin-top: 1%;
        width: 25%;
        height: 10%;
    }
    #izquierda2{
        position: relative;    
        margin-left: 56%;
        margin-top: -2%;
        width: 20%;
        height: 15%;
    }
    #izquierda-rara{
        position: relative;    
        margin-left: 55%;
        margin-top: -8%;
        width: 20%;
        height: 15%;
    }

    #abajo{
        position: relative;    
        margin-left: 43%;
        margin-top: -5%;
        width: 20%;
        height: 15%; 
    }
    #izquierda3{
        position: relative;    
        margin-left: 35%;
        margin-top: -5%;
        width: 20%;
        height: 15%;
    }
    #arriba_simple{
        position: relative;    
        margin-left: 25%;
        margin-top: -5%;
        width: 20%;
        height: 15%;
    }


    .cuarta{ /*Tabla contenedor*/
        visibility: hidden;
        float: right;
        margin-top: 15%;
        margin-right: 5%;
        width: 20%;
        height: 40%;
         background-color: #D0D3D4;
    }
    table{
        padding: 5%;
    }
	
/*---Version para moviles--------*/
@media screen and (max-width: 800px) {
    body {
        padding-top:80px;
    }

    .menu_bar {
        display:block;
        width:100%;
        position: fixed;
        top:0;
        background: #5f6a6a ;
    }

    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        color: #fff;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }

    .menu_bar span {
        float: right;
        font-size: 40px;
    }

    header nav {
        width: 80%;
        height: calc(100% - 80px);
        position: fixed;
        right:100%;
        margin: 0;
        overflow: scroll;
    }

    header nav ul li {
        display: block;
        border-bottom:1px solid rgba(255,255,255,.5);
    }

    header nav ul li a {
        display: block;
    }

    header nav ul li:hover .children {
        display: none;
    }

    header nav ul li .children {
        width: 100%;
        position: relative;
    }

    header nav ul li .children li a {
        margin-left:20px;
    }

    header nav ul li .caret {
        float: right;
    }

/*------------------Imagenes-----------------*/
    *{
    margin:0%; 
    padding: 0p%;
    }
    .contenedor{
        width: 98%;
        margin: 0 auto ;
    }
    img {
        width: 100%;
    }
    .columna{
        height: 30%;
    }
    .primera{
        float: left;
        width: 100%;
        height: 8%;
        margin: 1%;
    }
    .segunda{  /*Idiomas*/
        position: relative;
        width: 7%;
        height: 8%;
        float: right;
        margin-top: -16.5%;
        padding-left: 6%
    }

    .tercera{ /*Mapa contenedor*/
        float: left;
        position: absolute;
        margin-top: 5%;
        margin-left: 1%;
        height: 85%;
        width: 90%;
        background-color: #E5E7E9;
        padding-top: 1%; 
        padding-left: 1%; 
         z-index: -2;
    }
    #mapa{
        max-width: 100%;
        min-height: 10%;
        width: 90%;
        height: 85%;
        z-index: -2;
        background-repeat:no-repeat;
    }
    /*flechas*/
    #izquierda{
        position: relative;    
        margin-left: 42%;
        margin-top: -89%;
        width: 20%;
        height: 15%;
    }
    #arriba{
        position: relative;    
        margin-left: 40%;
        margin-top: 1%;
        width: 25%;
        height: 10%;
    }
    #izquierda2{
        position: relative;    
        margin-left: 55%;
        margin-top: 5%;
        width: 20%;
        height: 15%;
    }
    #izquierda-rara{
        position: relative;    
        margin-left: 55%;
        margin-top: -41%;
        width: 20%;
        height: 15%;
    }

    #abajo{
        position: relative;    
        margin-left: 45%;
        margin-top: -20%;
        width: 20%;
        height: 15%; 
    }
    #izquierda3{
        position: relative;    
        margin-left: -25%;
        margin-top: -9%;
        width: 20%;
        height: 15%;
    }
    #arriba_simple{
        position: relative;    
        margin-left: -30%;
        margin-top: -5%;
        width: 20%;
        height: 15%;
    }


    .cuarta{ /*Tabla contenedor*/
        visibility: hidden;
        float: right;
        margin-top: 15%;
        margin-right: 5%;
        width: 20%;
        height: 40%;
         background-color: #D0D3D4;
    }
    table{
        padding: 5%;
    }
	
}
